* {
  padding: 5px;
}

body {
  background-color: rgb(173, 173, 173);
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

.card {
  border-radius: 10px;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
  margin: 5px;
}

.container {
  background-color: lightblue;
  display: flex;
  flex-direction: row;
}

.main-content {
  background-color: lightcoral;
  flex: 3;
}

aside {
  flex: 1;
  background-color: lightgreen;
  display: flex;
  flex-direction: column;
}

button {
  margin: 5px;
}

header,
footer {
  background-color: lightyellow;
}

header > h2,
footer > h2 {
  margin-top: 0;
  margin-bottom: 0;
}
h3,
p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.circle {
  transition-property: width, height, margin-left, margin-top;
  transition-duration: 2s;
  position: fixed;
  transform: translateX(-50%) translateY(-50%);
  background-color: red;
  border-radius: 50%;
}

.message-ball {
  font-size: 20px;
  line-height: 200px;
  text-align: center;
}
